<form>
  <div class="form-group">
    <label for="Name">First Name</label>
    <input type="name" class="form-control" id="Name" >
  </div>
  <div class="form-group">
    <label for="Last Name">Last Name</label>
    <input type="password" class="form-control" id="Last Name" >
  </div>
  
  <div class="form-group">
    <label for="Address">Address</label>
    <input type="address" class="form-control" id="Address" >
  </div>

  <div class="form-group">
    <label for="Last Name">Last Name</label>
    <input type="password" class="form-control" id="Last Name" >
  </div>

  <div class="form-group">
    <label for="Last Name">Last Name</label>
    <input type="password" class="form-control" id="Last Name" >
  </div>

  <div class="form-group">
    <label for="Last Name">Last Name</label>
    <input type="password" class="form-control" id="Last Name" >
  </div>

  <div class="form-group">
    <label for="exampleInputFile">Resume </label>
    <input type="file" id="Resume">
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
