<form>
  <div class="form-group">
    <label for="Name">First Name</label>
    <input type="name" class="form-control" id="Name" >
  </div>
  <div class="form-group">
    <label for="Last Name">Last Name</label>
    <input type="name" class="form-control" id="Last Name" >
  </div>
  

  <div class="form-group">
    <label for="Address">Address</label>
    <input type="address" class="form-control" id="Address" >
  </div>

  <div class="dropdown">
    <lable onclick="myFunction()" class="dropbtn">City</lable>
    <div id="myDropdown" class="dropdown-content">
      <a href="#">Vancouver 1</a>
      <a href="#">Burnaby 2</a>
      <a href="#">Richmond 3</a>
      <a href="#">North Vancouver 4</a>
      <a href="#">West Vancouver 5</a>
      <a href="#">Yale Town 6</a>
      <a href="#">Gas Town 7</a>
    </div>
  </div>


  <div class="form-group">
    <label for="City">City</label>
    <input type="City" class="form-control" id="City" >
  </div>

  <div class="form-group">
    <label for="Name">First Name</label>
    <input type="name" class="form-control" id="Name" >
  </div>

  <div class="form-group">
    <label for="Name">First Name</label>
    <input type="name" class="form-control" id="Name" >
  </div>

  <div class="form-group">
    <label for="exampleInputFile">Resume </label>
    <input type="file" id="Resume">
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
