<form>
  <div class="form-group">
    <label for="Name">First Name</label>
    <input type="name" class="form-control" id="Name" >
  </div>
  <div class="form-group">
    <label for="Last Name">Last Name</label>
    <input type="name" class="form-control" id="Last Name" >
  </div>
  

  <div class="form-group">
    <label for="Address">Address</label>
    <input type="address" class="form-control" id="Address" >
  </div>

  <div class="dropdown">
    <label class="dropbtn">City</label>
    <div id="myDropdown" class="dropdown-content">
      <a href="#">Vancouver </a>
      <br> <a href="#">Burnaby </a>
      <br> <a href="#">Richmond </a>
      <br> <a href="#">North Vancouver </a>
      <br> <a href="#">West Vancouver </a>
      <br> <a href="#">Yale Town </a>
      <br> <a href="#">Gas Town </a>
    </div>
  </div>


  <div class="form-group">
    <label for="City">City</label>
    <input type="City" class="form-control" id="City" >
  </div>

  <div class="form-group">
    <label for="Name">First Name</label>
    <input type="name" class="form-control" id="Name" >
  </div>

  <div class="form-group">
    <label for="Name">First Name</label>
    <input type="name" class="form-control" id="Name" >
  </div>

  <div class="form-group">
    <label for="exampleInputFile">Resume </label>
    <input type="file" id="Resume">
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
